@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/SQVfzoJBbj9t3aVcmbspRqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Maven Pro Black'), local('MavenProBlack'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/-91TwiFzqeL1F7Kh91APwaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  background: #1a9078;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
}

.error {
  margin-top: 250px;
  position: relative;
  background: #fff;
  width: 100%;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,0.1) 0px 0px 15px);
  h1 {
    padding: 20px 20px 0 20px;
    font-weight: bold;
    font-size: 1.2em;
  }
  p {
    padding: 20px;
  }
}

.stormbar {
  margin-top: 250px;
  position: relative;
  background: #fff;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #ccc;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,0.1) 0px 0px 15px);
  @include transition(margin-top .5s ease-out);
  @include transition-delay(1s);

  &.has-results {
    margin-top: 100px;
    @include transition-delay(0s);
  }
}

.logo {
  background: url("/images/logo.png") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 20px;
  width: 55px;
  height: 50px;
}

.search {
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 85px;
  bottom: 20px;
  right: 20px;
  border: 0;
  font-size: 22px;
  color: #777;
  font-weight: normal;
  @include border-radius(5px);

  &:focus {
    outline: 0;
  }
}

.help {
  position: absolute;
  top:27px;
  right: 20px;
  &:hover .help-text {
    display: block;
  }
}

.help-icon {
  display: block;
  font-size: 12px;
  color: #fff;
  background: #ccc;
  line-height: 20px;
  height:20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  @include border-radius(20px);
}

.help-text {
  display: none;
  position: absolute;
  width: 100px;
  left: -50px;
  bottom: 175%;
  padding: 10px;
  color: #fff;
  background: #000;
  font-size: 13px;
  text-align: center;
  @include border-radius(5px);

  &:after {
    display: block;
    position: absolute;
    left: 50px;
    bottom: -20px;
    content: "";
    border: 10px solid transparent;
    border-top-color: #000;
  }
}

.downpour {
  position: absolute;
  display: block;
  top: 101%;
  background: #fff;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  max-height: 400px;
  @include border-bottom-radius(5px);
  @include transition(height 0.5s);

  li {
    padding: 10px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: 0;
    }

    &.selected {
      background: rgba(0,0,0,0.08);
    }

    h4 {
      color: #333;
      font-weight: bold;
      font-size: 1.5em;
    }

    p {
      color: #888;
    }

    h4, p {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.3em;
    }
  }
}

.page {
  position: relative;
  margin: 50px auto;
  padding: 30px;
  width: 900px;
  background: #fff;
  line-height: 1.5;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    background: #eee;
    color: #333;
    text-decoration: none;
    &:hover {
      color: #fff;
      background: #333;
    }
  }
  h1 {
    font-size: 2.4em;
    padding: 20px 0 10px 0;
  }
  h2 {
    font-size: 1.6em;
    margin: 20px 0 10px 0;
  }
  h3 {
    font-weight: bold;
    margin: 1em 0 .5em 0;
  }
  p {
    margin: .5em 0;
  }
  ol {
    margin-bottom: 1em;
  }
  li {
    list-style: square;
    margin: .25em 20px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
}