/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local("Maven Pro Medium"), local("MavenProMedium"), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/SQVfzoJBbj9t3aVcmbspRqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local("Maven Pro Black"), local("MavenProBlack"), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/-91TwiFzqeL1F7Kh91APwaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

/* line 17, ../../sass/storm.scss */
body {
  background: #1a9078;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
}

/* line 23, ../../sass/storm.scss */
.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
}

/* line 29, ../../sass/storm.scss */
.error {
  margin-top: 250px;
  position: relative;
  background: #fff;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}
/* line 37, ../../sass/storm.scss */
.error h1 {
  padding: 20px 20px 0 20px;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 42, ../../sass/storm.scss */
.error p {
  padding: 20px;
}

/* line 47, ../../sass/storm.scss */
.stormbar {
  margin-top: 250px;
  position: relative;
  background: #fff;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  -webkit-transition: margin-top 0.5s ease-out;
  -moz-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 59, ../../sass/storm.scss */
.stormbar.has-results {
  margin-top: 100px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 65, ../../sass/storm.scss */
.logo {
  background: url("/images/logo.png") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 20px;
  width: 55px;
  height: 50px;
}

/* line 74, ../../sass/storm.scss */
.search {
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 85px;
  bottom: 20px;
  right: 20px;
  border: 0;
  font-size: 22px;
  color: #777;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 87, ../../sass/storm.scss */
.search:focus {
  outline: 0;
}

/* line 92, ../../sass/storm.scss */
.help {
  position: absolute;
  top: 27px;
  right: 20px;
}
/* line 96, ../../sass/storm.scss */
.help:hover .help-text {
  display: block;
}

/* line 101, ../../sass/storm.scss */
.help-icon {
  display: block;
  font-size: 12px;
  color: #fff;
  background: #ccc;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 114, ../../sass/storm.scss */
.help-text {
  display: none;
  position: absolute;
  width: 100px;
  left: -50px;
  bottom: 175%;
  padding: 10px;
  color: #fff;
  background: #000;
  font-size: 13px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 127, ../../sass/storm.scss */
.help-text:after {
  display: block;
  position: absolute;
  left: 50px;
  bottom: -20px;
  content: "";
  border: 10px solid transparent;
  border-top-color: #000;
}

/* line 138, ../../sass/storm.scss */
.downpour {
  position: absolute;
  display: block;
  top: 101%;
  background: #fff;
  width: 90%;
  margin-left: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
/* line 151, ../../sass/storm.scss */
.downpour li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
/* line 156, ../../sass/storm.scss */
.downpour li:last-child {
  border-bottom: 0;
}
/* line 160, ../../sass/storm.scss */
.downpour li.selected {
  background: rgba(0, 0, 0, 0.08);
}
/* line 164, ../../sass/storm.scss */
.downpour li h4 {
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 170, ../../sass/storm.scss */
.downpour li p {
  color: #888;
}
/* line 174, ../../sass/storm.scss */
.downpour li h4, .downpour li p {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3em;
}
/* line 182, ../../sass/storm.scss */
.downpour li.has-icon .content {
  margin-left: 70px;
}
/* line 186, ../../sass/storm.scss */
.downpour li .icon {
  display: block;
  width: 57px;
  height: 57px;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 197, ../../sass/storm.scss */
.page {
  position: relative;
  margin: 50px auto;
  padding: 30px;
  width: 900px;
  background: #fff;
  line-height: 1.5;
}
/* line 204, ../../sass/storm.scss */
.page .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: #eee;
  color: #333;
  text-decoration: none;
}
/* line 213, ../../sass/storm.scss */
.page .back:hover {
  color: #fff;
  background: #333;
}
/* line 218, ../../sass/storm.scss */
.page h1 {
  font-size: 2.4em;
  padding: 20px 0 10px 0;
}
/* line 222, ../../sass/storm.scss */
.page h2 {
  font-size: 1.6em;
  margin: 20px 0 10px 0;
}
/* line 226, ../../sass/storm.scss */
.page h3 {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}
/* line 230, ../../sass/storm.scss */
.page p {
  margin: 0.5em 0;
}
/* line 233, ../../sass/storm.scss */
.page ol {
  margin-bottom: 1em;
}
/* line 236, ../../sass/storm.scss */
.page li {
  list-style: square;
  margin: 0.25em 20px;
}

/* line 242, ../../sass/storm.scss */
.warning-banner {
  position: relative;
  background: #ffc;
  margin: 0 -30px;
  padding: 20px 30px;
  border-top: 1px solid #ffddcc;
  border-bottom: 1px solid #ffddcc;
}
/* line 249, ../../sass/storm.scss */
.warning-banner h3 {
  margin: 0;
  font-size: 1.2em;
}

/* line 255, ../../sass/storm.scss */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #167a66;
}
/* line 264, ../../sass/storm.scss */
footer a {
  color: #0a3a30;
}
/* line 266, ../../sass/storm.scss */
footer a:hover {
  color: black;
}

/* line 272, ../../sass/storm.scss */
#activity-indicator {
  display: block;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 13px;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/* line 285, ../../sass/storm.scss */
#activity-indicator.on {
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 291, ../../sass/storm.scss */
.modal {
  position: absolute;
  width: 640px;
  height: 480px;
  margin: -240px -320px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}

/* line 303, ../../sass/storm.scss */
.image-modal {
  text-align: center;
  background-color: #000;
}
/* line 306, ../../sass/storm.scss */
.image-modal img {
  max-width: 100%;
  max-height: 100%;
}

/* line 313, ../../sass/storm.scss */
.iframe-modal iframe {
  width: 100%;
  height: 100%;
}
